

<form action="skills/new" method="POST">
 <p>What skills do you have</p>
 <select name="skills">
   <option value="Ruby">
   <option value="Sinatra">
   <option value="Rails">
   <option value="JavaScript">
   <option value="jQuery"> 

 </select>




</form








<!-- Ruby Sinatra Rails JavaScript jQuery HTML CSS -technical

Photoshop Illustrator Responsive-Design -creative -->
